*{
    margin: 0px;
    padding: 0px;
}

:root{
    --bgColor: #0c080c;
    --pColor: #4680a4;
    --text: #ffffff;
    --sColour: #682c52;
    --accent: #81373c;
}

body {
    background: var(--bgColor);
    color: var(--text);
}

#aboutMe{
    font-family: 'Teachers';
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 15px;
    background: white;
    color: #0c080c;
    width: 50%; 
    margin: 50px auto ;  
}

#otherWebsite{
    font-family: 'Teachers';
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 15px;
    background: white;
    color: #0c080c;
    margin: 10px;

    text-align:center ;
    width: 100px;
    height: 250px;
    
}


#aboutme, #portfolio, #blog, #work{
    text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s ease;
}

#socialMedia{
    font-family: 'Teachers';
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 15px;
    background: white;
    color: #0c080c;
    margin: 10px;

    text-align: center;
    width: 500px;



}



#fb, #ig, #x, #threads{
    text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s ease;
}